.program {
  font-family: "Helvetica", sans-serif;
  font-size: 11pt;
  font-weight: 300;
  line-height: 1.4em;
}

.program-page {
  font-size: 11pt;
}

.program h2 {
  font-size: 1.4em;
  padding: 0;
  margin: 0 0 1em 0;
  position: relative;
}

.program h2 .date {
  font-size: 0.6em;
  float: right;
  line-height: 2.2em;
}
.program h2 .time {
  font-size: 0.6em;
  font-weight: 300;
  white-space: nowrap;
}
.program h2 .time::before { content: "("; }
.program h2 .time::after { content: ")"; }

.program ul {
  list-style: none;
  padding: 0;
  margin-bottom: 1em;
}

.program .header-people {
  display: flex;
  justify-content: space-between;
}
.program .header-people ul:nth-child(2) { text-align: end; }
.program .header-people .details { display: inline; }
.program .header-people .title::after { content: ": "; }

.program .proceedings li {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  position: relative;
  text-align: end;
}

.program .proceedings li:not(.blank-line):not(.no-details)::before {
  content: ".................................................................................................................................................................................................................................................................................................................................................................................................................................................................";
  position: absolute;
  top: 0; left: 0; right: 0;
  margin-left: 0.2em;
  white-space: nowrap;
  overflow: hidden;
  z-index: -1;
}

.program .proceedings li span {
  background-color: var(--page-bg);
  padding: 0 0.2em;
  margin: 0 -0.2em;
}

.program li.blank-line {
  height: 1em;
}

.program .proceedings li.no-details {
  justify-content: center;
  text-align: center;
  margin: 1em;
}

.program .proceedings .details {
  margin-left: auto;
}

.program .proceedings .subtitle {
  font-style: italic;
  width: 100%;
  margin: 0; padding: 0;
}
